<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <%= image_tag "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600",
        alt: "Clickable Image",
        class: "h-8 w-auto" %>
      <% end %>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Product</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Features</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-4">
      <%= render "layouts/locale_modal" %>
      <%= render "layouts/account_navbar" %>
    </div>
    <%= render "layouts/account_mobile_navbar" %>
  </nav>

</header>
