<header class="absolute inset-x-0 top-0 z-50">
  <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <%= link_to root_path do %>
        <%= image_tag "https://tailwindui.com/img/logos/mark.svg?color=indigo&shade=600",
        alt: "Clickable Image",
        class: "h-8 w-auto" %>
      <% end %>
    </div>

    <div class="hidden lg:flex lg:gap-x-12">
      <%= link_to t("index.blog"),
      root_path(locale: I18n.locale),
      class: "text-sm font-semibold leading-6 text-gray-900" %>

      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Marketplace</a>
      <a href="#" class="text-sm font-semibold leading-6 text-gray-900">Company</a>
    </div>

    <div class="hidden lg:flex lg:flex-1 lg:justify-end gap-4">

      <%= link_to new_post_path do %>
        <% if user_signed_in? %>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
            />
          </svg>
        <% end %>

      <% end %>

      <%= render "layouts/locale_modal" %>
      <%= render "layouts/account_navbar" %>
    </div>
    <%= render "layouts/account_mobile_navbar" %>
  </nav>

</header>
