<%= simple_form_for @post, html: { class: 'mx-auto' } do |f| %>
  <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2">
    <div class="sm:col-span-2">

      <div class="relative shadow-sm">
        <%= f.text_field :title,
                     placeholder: t("posts.form.title_placeholder"),
                     class:
                       "block w-full border-0 px-3.5 py-2 text-gray-900 shadow-sm placeholder:text-gray-400 outline-none bg-transparent text-4xl focus:[box-shadow:none]" %>
      </div>
    </div>
    <div class="sm:col-span-2">
      <div class="shadow-sm">
        <%= f.text_area :body,
                    rows: 4,
                    placeholder: t("posts.form.body_placeholder"),
                    class:
                      "block w-full px-3.5 py-2 text-gray-900 placeholder:text-gray-400 bg-transparent                                                                                                                                                                     border-none focus:[box-shadow:none]" %>
      </div>
    </div>

    <div class="sm:col-span-2">
      <div class="relative mt-2 rounded-md shadow-sm">
        <%= f.text_field :tags,
                     value: @tags.join(", "),
                     placeholder: "Add tags",
                     id: "post_tags",
                     class:
                       "block w-full rounded-md border-0 py-1.5 pr-20 text-gray-900
                            placeholder:text-gray-400 sm:text-sm sm:leading-6 border-none focus:[box-shadow:none]" %>
      </div>
    </div>

  </div>

  <div class="mt-10">
    <%= f.submit t("posts.form.button"),
             class:
               "block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm                                                                                                                                                    font-semibold text-white shadow-sm hover:bg-indigo-500",
             data: {
               turbo_frame: "_top",
             } %>
  </div>
<% end %>
